.panelsContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 3rem;
  position: relative;
  box-sizing: border-box;
  background-color: #494a57;
}

.panelsContainer div {
  box-sizing: border-box;
}
